@model IPagedList<MyPortpolioWeb.Models.Board>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

@{
    ViewData["Title"] = "Board";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

@using X.PagedList;
@using X.PagedList.Mvc.Core;
@using X.PagedList.Web.Common;

<div class="col-lg col-md ml-auto mr-auto">
    <div class="card card-login">
        <div class="section section-contacts" style="padding=40px 0;"> 
            <div class="row">
                <div class="col-md-10 ml-auto mr-auto">
                    <h3 class="text-center" style="font-weight:bold"  color:black; margin-top: 0px">Board</h3>

                    <p>
                        <a asp-action="Create" class="btn btn-primary">Write Your</a>
                    </p>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.First().id)
                                </th>
                                <th>
                                  @Html.DisplayNameFor(model => model.First().Subject)
                                </th>
                                <th>
                                   @Html.DisplayNameFor(model => model.First().RegDate)
                                </th>
                                <th>
                                  @Html.DisplayNameFor(model => model.First().ReadCount)
                                </th>
                                <th>
                                  @Html.DisplayNameFor(model => model.First().Writer)
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.id)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Subject)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.RegDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ReadCount)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Writer)
                                </td>
                                <td>
                                    <a asp-action="Edit" asp-route-id="@item.id">Edit</a> |
                                    <a asp-action="Details" asp-route-id="@item.id">Details</a> |
                                    <a asp-action="Delete" asp-route-id="@item.id">Delete</a>
                                </td>
                            </tr>
                            }
                        </tbody>
                    </table>

                    <div class="pull-center">
                        @Html.PagedListPager((IPagedList)Model, page => Url.Action("Index",
                        new { page }), new PagedListRenderOptionsBase { 
                        LiElementClasses = new string[] { "page-item" },
                        PageClasses=new string[] { "page-link"},
                        Display=PagedListDisplayMode.IfNeeded
                        })
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
